{% extends 'header.html' %}

{% load static %}
{% block mid %}
  <div class="main">
  <div class="mid">
      <p>Login Successful.</p>
      <p>You will see the course that assigned to you in a while!</p>
  </div>
</div>
{%endblock mid%}

{%block sidenav%}
    <div class="sidenav">
    <a href="/Main/faculty/seeRequests">See Stipend Request</a>
    <a class="active" href="/Main/faculty/assignedCourse">Assigned Course</a>
    <a href="/Main/faculty/submitPreference">Submit Preference</a>
        <a href="/Main/faculty/seeTheList">See the list of TAs</a>
  </div>

{%endblock sidenav%}