{% extends 'header.html' %}

{% load static %}
{% block mid %}
  <div class="main">
  <div class="mid">
      <p>Hello, Teaching Assistant!</p>
      <p>You can see your assigned course with the name of faculty here.</p>
<ul>
    <li> Name: {{viewCourse.name}} </li>
    <li> Course: {{viewCourse.cid}} </li>
    <li> Year: {{viewCourse.year}} </li>
    <li> Status: {{viewCourse.status}} </li>
    <li> Stars: {{viewCourse.star}} </li>
    <li> Faculty Name: {{viewFaculty.name}}</li>
</ul>

  </div>
</div>
{%endblock mid%}

{%block sidenav%}
    <div class="sidenav">
      <a href="/Main/TA/StipendReq/">Stipend Request</a>
      <a class="active" href="/Main/TA/viewCourse/">Assigned Course</a>
  </div>
{%endblock sidenav%}