{%extends 'basic.html' %}
{% load static %}
{% block content %}
<style>
.body
{
      display:flex;
      align : center;
        width: 50%;
        margin: auto;
        padding: 5px;
        margin-top : 70px;
        margin-bottom : 70px;
        background-image: linear-gradient(to left, #717857, #B78787);
        border : 2px solid black;
        overflow:auto;
}

input, select {
  width: 50%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align:right;
}

button{
  width: 50%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align:right;
}

button:hover{
  background-color: #BBBBCD;
}
input[type=submit]:hover {
  background-color: #BBBBCD;
}
</style>

<!-- Create a Form -->
<div class="">


<form method="POST" class="body">
  <!-- Security token by Django -->
  {% csrf_token %}
  Do you want to delete this item ?
  <input type="submit" value="Yes" />

</form>
</div>
{% endblock %}
