{%extends 'basic.html' %}
{%load static%}
{%block content%}
<style>
button[type=button]
{
  align:right;
}
.notify{
  margin: auto;
  padding: 20px;
}
</style>

    <div class="sidenav">
      <a href="{% url 'cohome' %}">Home</a>
        <a href="{% url 'addfaculty' %}">Add Faculty</a>

    </div>

    <div class="main">
      <div class="notify">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        {% if message.tags %} {{message }} {% endif %}
        {% endfor %}
        </ul>
        {% endif %}

      </div>
      {% for data in dataset %}
        {{ data.name }}<br>
        <a href="{% url 'updatefaculty' data.id %}">Update</a>
        <a href="{% url 'deletefaculty' data.id %}">Delete</a>
          <hr/>
      {% endfor %}

    </div>





</html>
{%endblock%}
