{% extends 'header.html' %}

{% load static %}
{% block mid %}
  <div class="main">
  <div class="mid">
      <p>Hello, Teaching Assistant!</p>
      <p>Welcome to the system<span>😀</span></p>
      <p style="color:white;">{{message}}</p>
  </div>
</div>
{%endblock mid%}

{%block sidenav%}
   
<div class="sidenav">
  <a href="{%url 'StiReq' taid %}">Stipend Request</a>
  <a href="{%url 'viewcourse' taid%}">Assigned Course</a>
  <a href="{%url 'PrevReq' taid%}">See previous requests</a>
</div>
  
{%endblock sidenav%}

  
